<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HANIUM</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins/iCheck/flat/blue.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!--nav + search + side-->
  <% include ./plain.ejs %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">회의 시작하기</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- user information -->
        <div class="card card-info">
          <!-- form start -->
          <form role="form" method="post">
            <div class="card-body">
              <div class="form-group">
                <label for="inputSubject">주제</label>
                <input type="text" class="form-control" id="inputSubject" name="subject" placeholder="주제를 입력하세요" required>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="inputDate">일시</label>
                    <input type="date" class="form-control" id="inputDate" name="when" placeholder="일시를 입력하세요" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="inputPlace">장소</label>
                    <input type="text" class="form-control" id="inputPlace" name="where" placeholder="장소를 입력하세요">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputParticipant">참여자</label>
                <button type="button" class="btn btn-info btn-sm m-2" id="inputParticipant" data-toggle="modal" data-target="#partModal">선택</button>
                <div class="row" id="label"></div>
              </div>
              <div class="form-group">
                <label for="inputNote">비고</label>
                <input type="text" class="form-control" id="inputNote" name="note" placeholder="비고를 입력하세요">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInputFile">
                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text" id="">Upload</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <div  class="float-right">
                <button type="submit" formaction="/meet/process" class="btn btn-primary">시작하기</button>
                <button type="submit" formaction="/meet/book" class="btn btn-primary">예약하기</button>
              </div>
            </div>
          </form>
        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!--footer-->
  <% include ./footer.ejs %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- Modal -->
<div id="partModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">참여자 선택</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
  				<div class="col">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">회의그룹</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">검색하기</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <select name="from" id="lstview" class="form-control" size="13" multiple="multiple">
                  <% for(var i=0; i<group.length; i++){ %>
                    <% var tmp = group[i] %>
                    <option value=<%= tmp._id %>><%= tmp.department+'/'+tmp.position+'/'+tmp.name %></option>
                  <% } %>
      					</select>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
            </div>
  				</div>

          <div class="col-lg-2">
  					<button type="button" id="lstview_undo" class="btn btn-danger btn-block btn-sm">undo</button>
  					<button type="button" id="lstview_rightAll" class="btn btn-default btn-block btn-sm"><i class="fa fa-forward"></i></button>
  					<button type="button" id="lstview_rightSelected" class="btn btn-default btn-block btn-sm"><i class="fa fa-chevron-right"></i></button>
  					<button type="button" id="lstview_leftSelected" class="btn btn-default btn-block btn-sm"><i class="fa fa-chevron-left"></i></button>
  					<button type="button" id="lstview_leftAll" class="btn btn-default btn-block btn-sm"><i class="fa fa-backward"></i></button>
  					<button type="button" id="lstview_redo" class="btn btn-warning btn-block btn-sm">redo</button>
  				</div>

  				<div class="col">
            <select name="to[]" id="lstview_to" class="form-control" size="8" multiple="multiple"></select>
  				</div>
			  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-submit">선택</button>
      </div>
    </div>

  </div>
</div>

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- Sparkline -->
<script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- Slimscroll -->
<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $('#lstview').multiselect({
        search: {
            //left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
            //right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
        }
    });
    $('#modal-submit').click(function(){
      $('#lstview_to option').each(function(){
        var input_hidden = $("<input type='text' name='who' value='"+$(this).val()+"' hidden>");
        var input_show = $("<input type='text' name='who_detail' class='form-control col m-3' value='"+$(this).text()+"' readonly>");
        $('#label').append(input_hidden)
        $('#label').append(input_show)
      })
    })
});
</script>
<script src="/dist/js/multiselect.js"></script>
</body>
</html>
